In [344]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [345]:
#Calculate the number of unique SN
print("Total Players")
purchase_data_df2 = purchase_data_df.drop_duplicates(subset=['SN'])
total_count = purchase_data_df2["SN"].nunique()
total_count

Total Players

576

### Purchase Analysis (Total)

In [346]:
#Calculate the number of unique SN
total_count = purchase_data_df["SN"].nunique()
#Calculate the the average purchase price
average_purchase_price = round(purchase_data_df["Price"].mean(), 2)
#Calulate Total Number of Purchases
total_number_of_purchases = purchase_data_df["SN"].count()
#Calulate Total Revenue
total_revenue = purchase_data_df["Price"].sum()

In [328]:
summary_df = pd.DataFrame({"Number of Unique Items" : [total_count],
                         "Average Purchase Price" : [average_purchase_price],
                         "Total Number of Purchases" : [total_number_of_purchases],
                         "Total Revenue" : [total_revenue]})
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,576,3.05,780,2379.77

### Gender Demographics

In [347]:
grouped = purchase_data_df.groupby(['Gender', 'SN'])
#df = df.groupby('Gender').nunique()
grouped

In [330]:
grouped.count().head()

                      Purchase ID  Age  Item ID  Item Name  Price
Gender SN
Female Adastirin33              1    1        1          1      1
       Aerithllora36            2    2        2          2      2
       Aethedru70               1    1        1          1      1
       Aidain51                 1    1        1          1      1
       Aiduesu86                1    1        1          1      1

In [348]:
summary_df = pd.DataFrame({'Number of Unique Items': [total_count], 'Average Price': [average_purchase_price], 'Number of Purchases': [total_number_of_purchases],
                           'Total Revenue': [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     576           3.05                  780        2379.77

### Gender Demographics

In [349]:
gender_df = purchase_data_df2.set_index('Gender', 'SN')
gender_count = purchase_data_df2['Gender'].value_counts()
gender_average = purchase_data_df2['Gender'].value_counts(normalize=True)
gender_percentage100 = purchase_data_df2['Gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

In [333]:
breakdown_of_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_percentage100})
breakdown_of_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

###Purchase Analysis(Gender)

In [350]:
#gender_df2 = purchase_data_df.set_index("Gender", "SN")
#grouped = gender_df2.groupby(level=df2.index.names.difference(["SN"]))
#purchase_data_df.drop_duplicates(subset=['SN'], keep='first')
#gender_count = purchase_data_df['Gender'].value_counts()
#gender_count


#grouping the gender data together
grouped_data_df = purchase_data_df.groupby(['Gender'])
#calculating the purchase count per gender
gender_purchase_count = grouped_data_df['Price'].count()
#calculating the average purchase price per gender
gender_average = round(grouped_data_df['Price'].mean(), 2)
#calculating the total purchase value per gender
gender_total = grouped_data_df['Price'].sum()
#total_purchase = grouped_data_df['Gender'].value_counts(normalize=True)
total_purchase_aver = (gender_total / gender_count).mean().round(2)

In [335]:
summary_gender_df = pd.DataFrame({'Total Count': gender_count, 'Percentage of Players': gender_average100})
summary_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [351]:
#gender_count = purchase_data_df['Gender'].value_counts()
#gender_count

### Purchasing Analysis (Gender)

In [352]:
grouped_data_df = purchase_data_df.groupby(['Gender'])
gender_purchase_count = grouped_data_df['Price'].count()
gender_average = round(grouped_data_df['Price'].mean(), 2)
gender_total = grouped_data_df['Price'].sum()
#total_purchase_aver = (gender_total / gender_purchase_count).mean().round(2)
#grouped_data_df['Price'].map("${:,.2f}".format)
#total_purchase_aver

In [338]:
df_test = pd.DataFrame({'Total': gender_total, 'Purchase': gender_purchase_count})
df_test['Average'] = df_test['Total']/df_test['Purchase']
df_test

                         Total  Purchase   Average
Gender
Female                  361.94       113  3.203009
Male                   1967.64       652  3.017853
Other / Non-Disclosed    50.19        15  3.346000

In [353]:
gender_summary_df = pd.DataFrame({'Purchase Count': gender_purchase_count,
                                  'Average Purchase Price': gender_average,
                                  'Total Purchase Value': gender_total,
                                  'Avg Total Purchase per Person': total_purchase_aver})
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.37
Male,652,3.02,1967.64,4.37
Other / Non-Disclosed,15,3.35,50.19,4.37

### Age Demographics

In [354]:
group_of_ages_df = purchase_data_df2.groupby(['Age'])
count_of_ages = group_of_ages_df['Age'].count()
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
year_ages_df = pd.cut(purchase_data_df['Age'], age_bins, labels=['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40<'])

average_age = purchase_data_df2['Age'].value_counts(normalize=True)
average_age_100 = purchase_data_df2['Age'].value_counts(normalize=True).mul(100).round(2).astype(str)+'%'
age_breakdowns_df = pd.DataFrame({'Age': count_of_ages, 'Percentage of Players': average_age_100})
#age_breakdown = pd.DataFrame({'Age': [Age]})
age_breakdowns_df.head()
#year_ages_df.value_counts()
#count_of_ages

    Age Percentage of Players
7     7                 1.22%
8     6                 1.04%
9     4                 0.69%
10    7                 1.22%
11    6                 1.04%

### Top Spenders

In [381]:
#top 5 sn

grouped_spender_df = purchase_data_df2.groupby(['SN'])
#purchase count
spender_purc_count = grouped_spender_df['Price'].count()
#average pruchase price
spender_aveg = round(grouped_spender_df['Price'].mean(), 2)
#total purspender_purc_countchase value
spender_total = grouped_spender_df['Price'].sum()
#making table
spender_breakdown_df = pd.DataFrame({'Purchase Count': spender_purc_count, 'Average Purchase Price': spender_aveg, 'Total Purchase Vaule': spender_total})
spender_total.sort_values #(by='spender_total', ascending=False)
purchase_data_df2.iloc[purchase_data_df2['spender_total'].idxmax()]
#data.iloc[0]
spender_breakdown_df.head()
#purchase_data_df2.groupby(['SN']).nlargest(5).reset_index()
#grouped_spender_df.value.nlargest(5).reset_index()

KeyError: 'spender_total'

### Most Popular Items

In [366]:
grouped_popular_df = purchase_data_df2.groupby(['Item ID'])
#popular_name_df = purchase_data_df2()
#purchase count
popular_purc_count = grouped_popular_df['Price'].count()
#average pruchase price
popular_aveg = round(grouped_popular_df['Price'].mean(), 2)
#total purchase value
popular_total = grouped_popular_df['Price'].sum()
#making table
popular_breakdown_df = pd.DataFrame({'Item ID': grouped_popular_df, 'Item Name': grouped_popular_name_df, 'Purchase Count': popular_purc_count, 'Average Purchase Price': popular_aveg, 'Total Purchase Vaule': popular_total})
popular_breakdown_df

StopIteration:

StopIteration:

### Most Profitable Items

In [357]:
grouped_profit_df = purchase_data_df2.groupby(['Item ID'])
#grouped_profit_name_df = purchase_data_df2.groupby(['Item Name'])
#purchase count
profit_purc_count = grouped_popular_df['Price'].count()
#average pruchase price
profit_price_aveg = round(grouped_popular_df['Price'].mean(), 2)
#total purchase value
profit_purchased_total = grouped_popular_df['Price'].sum()
#making table
profit_breakdown_df = pd.DataFrame({'Item ID': grouped_profit_df, 'Item Name': grouped_profit_name_df, 'Purchase Count': profit_purc_count, 'Average Purchase Price': profit_price_aveg, 'Total Purchase Vaule': profit_total})
profit_breakdown_df

NameError: name 'profit_total' is not defined